.menu {
  background-color: #D5B0AC;
  text-align: center;
  position: absolute;
}
.menu span {
  color: #402E2A;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  height: 30px;
  /*padding: 10px 0 0 0;*/
  line-height: 30px;
}

.menu span:hover {
  color: #FFFFFF;
  background-color: #9CD08F;
  pointer-events: painted;
  cursor: pointer;
}

.menu_vertical {
  background-color: #FFFFFF;
  position: absolute;
  display: none;
}

.menu_vertical span{
  background-color: #D5B0AC;
  display: block;
  margin: 1px 0 1px 0;
}

.menu span:hover .menu_vertical {
  display: block;
}
